.user {
  width: 410px;
  height: 73px;

  margin: 30px 35px;
  padding-left: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;

  background: #F3F3F3;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: relative;

  span {
    margin-left: 7px;
  }

  .openProfile {
    position: absolute;
    right: 15px;
    bottom: 10px;

    text-decoration: none;
    font-size: 12px;
    line-height: 14px;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}
